div.container {
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);

  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);

  display: flex;

  &.center_x {
    justify-content: center;
  }

  &.center_y {
    align-items: center;
  }

  &.fullscreen_x {
    width: 95%;
  }

  &.fullscreen_y {
    height: 90vh;
  }

  &.wrap {
    flex-direction: column;
  }
}
