:root {
  --background-color: #030303;

  --usual-text-color: #fff;
  --secondary-text-color: #777;

  --font-family: Consolas, monospace;

  --padding-x: calc(0.5vw + 1px);
  --padding-y: calc(0.3vh + 1px);
}

body {
  background-color: var(--background-color);
  color: var(--usual-text-color);

  font-family: var(--font-family);
}
